.chat-box{
    height: 40rem;
    /*background-color: red;*/

}

.container-inputs{
    display: flex;
    gap: 1rem;
}

.container-inputs button{
    width: 30%;
    font-size: 1.5rem;
    background-color: #7cf564;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.container-inputs input{
    width: 70%;
    font-size: 1.5rem;
    border-radius: 5px;

}