.auto{
    position: absolute;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-image: url('./../../../../../assets/img/carreras/auto-crop.png') ;
    background-repeat: no-repeat;
    background-size:contain;*/
}

.auto img{
    width: 125%;
    height: 110%;
    object-fit: fill;
}