<h1>Bienvenido a la sala de juego</h1>

<p>Los juegos disponibles son TATETI, MEMOTEST y PIEDRA PAPEL O TIJERA</p>


<div class="container-cards">
    <mat-card class="example-card">
        
        <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title>TATETI</mat-card-title>
            <mat-card-subtitle>Clasico</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./../../../assets/img/tateti.jpg" >
        <mat-card-content>
          <p>
            Tatetí es un juego de estrategia para dos jugadores que se juega en un tablero de 3x3. El objetivo es alinear tres fichas del mismo tipo en línea recta antes que tu oponente, ya sea horizontal, vertical o diagonalmente.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/juegos/tateti']">JUGAR</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        
        <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title>Memotest</mat-card-title>
            <mat-card-subtitle>Clasico</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./../../../assets/img/memotest.jpg" >
        <mat-card-content>
          <p>
            El Memotest es un juego divertido donde tienes que encontrar parejas de fichas con dibujos iguales. Se ponen todas las fichas boca abajo y, por turnos, levantas dos para ver si coinciden. Si encuentras dos iguales, ¡las ganas! El objetivo es recordar dónde están las imágenes para hacer más parejas y ganar. Es genial para entrenar tu memoria y ¡pasar un buen rato con amigos!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/juegos/memotest']">JUGAR</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="example-card">
        <mat-card-header>
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>Piedra, papel o tijera</mat-card-title>
          <mat-card-subtitle>Clasico</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./../../../assets/img/piedra-papel-tijera.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            "Piedra, papel o tijera" es un juego donde cada jugador elige entre piedra (puño cerrado), papel (mano extendida) o tijera (dos dedos extendidos). Piedra aplasta tijera, tijera corta papel, papel cubre piedra. ¡Es divertido y rápido para jugar con amigos!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/juegos/piedra-papel-tijera']">JUGAR</button>
        </mat-card-actions>
      </mat-card>
</div>