<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form class="form" action="" [formGroup]="form" (ngSubmit)="onSubmit()">

            <label>Email</label>
            <input type="text" id="" formControlName="email" name="email"
                [ngClass]="{ 'is-invalid': this.form.controls['email'].errors && this.submitted}">


            <label>Contraseña</label>
            <input type="password" id="" formControlName="password"
                [ngClass]="{ 'is-invalid': this.form.controls['email'].errors && this.submitted}">


            <button type="submit" mat-button class="btn-submit" name="input-submit">Login</button>

        </form>
        <button mat-button (click)="this.completarDatos()" class="btn-submit">Completar datos</button>

    <mat-card-content>
        @if (this.isLoading) {
            <mat-spinner></mat-spinner>
        }
<mat-card>
