.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.form label, .form input{
    width: 95%;
}
.btn-submit{
    padding: 1rem;
    font-size: 1.3rem;
}
.is-invalid{
    border: 2px solid #f58d8d;
}

.text-invalid{
    color: #f58d8d;
}

@media screen and (min-width: 700px) {
    .form{
        margin: 0 auto;
        width: 60%;
    }
    .form input[type='text'], .form input[type='password']{
        height: 2rem;
        font-size: 25px;
    }
  }