.container{
    display: flex;
}

.foto{
    width: 30%;
    border-radius: 5px;
}

.texto{
    width: 70%;
    margin-left: 1rem;
}


.juego-card {
    margin: 0 auto;
    max-width: 40rem;
    background-color: rgb(107, 169, 250);
  }

  mat-card img{
    height: 30rem;
    object-fit: contain;
  }